:root {
  --color-primary: #304e89;
  --color-primary-light: #f0f2f7;
  --color-secondary: #d96907;
  --color-secondary-light: #f29f07;

  --font-primary: quicksand, sans-serif;
  --font-secondary: benton-modern-display, serif;
}

html {
  font-family: var(--font-primary);
}

strong {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-style: italic;
}

em {
  font-family: var(--font-primary);
  font-weight: 500;
  font-style: normal;
}

mark {
  color: #fff;
  background-color: var(--color-secondary-light);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
}

h4, h5, h6 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-style: normal;
}

a {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

cite {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-style: italic;
}

dl dt {
  font-weight: 500;
  font-style: normal;
}
