.footer {
  background-color: var(--color-primary);
  color: #fff;
}

.footer-logo {
  max-width: 10em;
}

.footer a {
  color: #fff;
  transition: all .2s linear;
}

.footer a:hover,
.footer a:focus {
  color: var(--color-secondary-light);
}

.footer i {
  color: #fff;
  transition: all .2s linear;
}

.footer i:hover,
.footer i:focus {
  color: var(--color-secondary-light);
}

@media only screen and (min-width: 60em) {

  .tl-mq {
    text-align: left;
  }

  .pt-mq {
    padding: 0;
  }

}
