.footer {
  background-color: var(--color-primary);
  color: #fff;
}

.footer-logo {
  max-width: 10em;
}

.footer i {
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .tl-mq {
    text-align: left;
  }

  .pt-mq {
    padding: 0;
  }

}
