.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 0;
  padding: .5rem 4rem;
  font-weight: 500;
  color: #fff;
  transition: all .25s linear;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-light {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
  color: #fff;
}

.btn-light:hover {
  background-color: transparent;
  border-color: var(--color-secondary-light);
  color: var(--color-secondary-light);
}
