.masthead {
  border-bottom: 1px solid #707070;
  padding-bottom: 1em;
}

.masthead nav a {
  color: #707070;
}

.masthead nav a:hover,
.masthead nav a:focus {
  color: #fff;
  background-color: var(--color-primary);
}

.masthead img {
  max-width: 9em;
}

.masthead i {
  color: #000;
}

.masthead i:hover,
.masthead i:focus {
  color: var(--color-primary);
}

.task-bar,
.task-bar nav a {
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 400;
}

.task-bar nav a {
  text-decoration: none;
  border-bottom: 1px solid var(--color-secondary);
  padding-bottom: .1em;
}

.task-bar nav a:hover {
  border-bottom: 1px solid #fff;
  transition: all .6s linear;
}

@media only screen and (min-width: 38em) {

  .tl-mq {
    text-align: left;
  }

  .tr-mq {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .masthead ul {
    margin: 0;
  }

  .masthead {
    padding-bottom: 0;
  }

}
