.price {
  font-family: var(--font-primary);
}

.selector {
  background-color: #f1f1f1;
  border: none;
  padding-left: 1em;
  max-width: 4em;
}

article {
  border: 1px solid var(--color-primary);
}

.stars {
  color: var(--color-secondary-light);
}
