input, select {
  border-width: thin;
}

label {
  font-weight: 500;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: .5em;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}
