.btn-sizing {
  background-color: var(--color-primary-light);
  color: #000;
  border: none;
  padding: .5rem 2rem;
  transition: none;
  width: 100%;
  text-align: center;
}

.btn-sizing:hover, .btn-sizing:focus, .btn-sizing:active,
input:checked + .btn-sizing {
  background-color: var(--color-primary);
  color: #fff;
}

.wrap {
  flex-direction: column;
}

@media only screen and (min-width: 60em) {

  .wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .wrap > div {
    width: 30%;
  }

}
