.btn-sizing {
  background-color: var(--color-primary-light);
  color: #000;
  border: none;
  padding: .5rem 2rem;
  transition: none;
  width: 8em;
  text-align: center;
}

.btn-sizing:hover, .btn-sizing:focus, .btn-sizing:active,
input:checked + .btn-sizing {
  background-color: var(--color-primary);
  color: #fff;
}
